{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        {% bootstrap_messages %}

        <form action="{% url 'cadastro' %}" method="post" class="form" autocomplete="off" >
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
               <h1></h1>
                <button>
                    <a href="{% url 'index' %}">Voltar</a>
                </button>
            {% endbuttons %}
        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>