<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for produtos in produtos %}
            <tr>
                <td>{{ produtos.nome }}</td>
                <td>{{ produtos.preco }}</td>
                <td>{{ produtos.estoque }}</td>

            </tr>
            {% endfor %}    
        </tbody>
    </table>

    <a href="{% url 'index' %}">Volte</a>
</body>
</html>